@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Space Grotesk";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-height: 750px) {
  .form-container {
    margin-top: 3rem;
  }
}
